body {
  padding: 10px;
}

.slidecontainer{
  width: 50px;
}

h1, h2 {
  text-align: center;
}
#board{
  margin: 0 auto;
}

#board td{
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #8CC8DD;
}

td.dead {
  background-color: #fff;
}

label.btn.btn-secondary {
  margin-bottom: 0px;
}


#control_panel {
  float: right;
}

.row{
  padding-top: 20px;
}

.slider{
  width: 100px;
}
